.wrapper{
  display:block;
  margin-left:15px;
}
html {
  scroll-behavior: smooth;
}
.sidenav { 
  height:100%;
  width:55px;
  position: fixed;
  z-index: 1;
  top:0;
  left: 0;
  background-color:#111;
  padding-top:60px;
  overflow-wrap: break-word;
}
.document-header {
  margin-left:55px;
}

.sidenav-box {
  color:#888;
  width:100%;
  border-top:1px solid #555;
  padding-left: 3px;
  padding-right:3px;
  font-size:13px;
  font-family: 'Courier New', Courier, monospace
}

.sidenav-box:hover {
  background-color:#333;
}

.sidenav-active {
  color:white;
}

.submit-button {
  margin-left: 55px;
  border-width: 1px 1px 1px 5px;
  border-style:solid;
  border-color:#333;
}

.submit-button:hover {
  background-color: #f3f3f3;
  border-color:#000;
}