.wrapper1{
  width: 50%;
  float: left;
  display: block;
  margin-left: 15px;
  border-right: 1px solid #ccc;
}
.wrapper2{
  width:50%;
  float:left;
  display:block;
  margin-left:-20px;
}
html {
  scroll-behavior: smooth;
}
.sidenav { 
  height:100%;
  width:55px;
  position: fixed;
  z-index: 1;
  top:0;
  left: 0;
  background-color:#111;
  padding-top:60px;
  overflow-wrap: break-word;
}
.document-header {
    margin-left: 39px;
    text-align: left;
    font-size: 18px;
    color: white;
    position: static;
    top: 0;
    width: 100%;
    background: #3FB1CF;
    padding: 10px;
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.sidenav-box {
  color:#888;
  width:100%;
  border-top:1px solid #555;
  padding-left: 3px;
  padding-right:3px;
  font-size:13px;
  font-family: 'Courier New', Courier, monospace
}

.sidenav-box:hover {
  background-color:#333;
}

.sidenav-active {
  color:white;
}

.submit-button {
    margin-left: 20%;
    border-width: 1px;
    width: 60%;
    border-style: solid;
    background-color: #3FB1CF;
    margin-top: 20px;
    color: white;
}

.submit-button:hover {
    background-color: #3FB1CF;
  /* background-color: #f3f3f3; */
  border-color:gray;
}