.dropdown{
    display:inline-block;

}
.dropdown-input {
    width: 350px;
    height:25px;
    margin-left: 10px;
    top:0.25px;
    background-color: white;
}

.info-label {
    margin-left: 15px;
    top:10px;
    margin-top: 10px;
    font-size: 0.8rem;
}