.text-radio{
    margin-left: 5px;
}



.radio-button{
    height:20px;
    border:2px solid;
    border-color: gray;
}

.selected{
    background-color:black;
    border-color:black;

}
.radio-button:hover{
    border:2px solid black;
}