.usermessage {
    margin: 0 10em 2em 2em;
    padding: 1em 1em 1em 1.5em;
}

.usermessage .details {
    padding: 1em;
    background-color: white;
    color: #6c757d;
}

.detail {
    color: #6c757d;
}

.detail-line {
    border: 0.4pt solid #efefef;
}