.usermessage {
    margin: 2em;
    padding: 1em;
    transition: none;
    opacity: 1;
}

.usermessage .details {
    min-width: 50vw;
    padding: 1em;
    background-color: white;
    color: #6c757d;
}
.detail-line {
    border: 0.4pt solid #efefef;
}