.text-radio{
    margin-left: 5px;
}



.radio-button{
    height:20px;
    border:2px solid;
    border-color: gray;
}

.selected{
    background-color:black;
    border-color:black;

}
.radio-button:hover{
    border:2px solid black;
}

/* Tooltip container */
.tooltip-x {
    position: relative;
    display: inline-block;

  }
  
  /* Tooltip text */
  .tooltip-x .tooltiptext-x {
    font-family: 'Courier New', Courier, monospace;

    transition: 0s visibility;
    visibility: hidden;
    width:auto;
    background-color: black;
    color: white;
    text-align: center;
    padding: 0px 4px;
    border-radius: 8px 6px 6px 8px;
    font-size:14px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 2;

    left: 115%;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip-x:hover .tooltiptext-x {
      transition-delay:0.2s;
    z-index: 4;
    visibility: visible;
  }

  .tooltiptext-x:before{
    content: ' ';
    display: block;
    position: absolute;
    left: -4px;
    top: 5.5px;
    width: 0px;
    height: 0px;
    border-top: 5px solid transparent;
  border-bottom: 5px solid transparent; 
  
  border-right:5px solid black; 
}

.read-only .radio-button{
    background-color:#AAA;
    border-color:#444;
    pointer-events:none;
}