.input-block {
    border: 1px solid black;
    background-color: black;
    color:white;
    max-width:430px;
    font-family:'Courier New', Courier, monospace;
}


.repeated-choice {
    padding-right:2px;
}
.open-choice .dropdown-input {
    width:450px;
    height:auto;
    overflow:hidden;
    color:white;

}
.open-choice .dropdown-input:after {
    position: absolute;
    pointer-events:none;
    content: "";
    top: 11px;
    right:5px;
    width: 0;
    height: 0;
    border: 3px solid transparent;
    border-color: #FFF transparent transparent transparent;
}


.open-choice .option-block {
    background-color:black;
    width: 450px;
    overflow: hidden;
}

.open-choice .dropdown-block div, .open-choice .top-block {
    color: white;
    padding:0px 5px;
    border: 1px solid transparent;
    border-color: rgba(255, 255, 255, 0.2) transparent transparent transparent;
    cursor: pointer;
}

.top-block { 
    width:100%;
    border-color:transparent !important;
}

.open-choice {
    margin-left: 15px;
}

.selected-value {
    display:inline-block;
    border: 1px solid #ddd;
    padding:1px 5px;
    max-width:430px;
    background-color:#888;
    margin-left:2px;
    border-radius:2px;
    margin-bottom:1px;
    font-family:'Courier New', Courier, monospace;
    line-height:16px;
    margin-top:1px;
    overflow-wrap: break-word;
}
.selected-value:hover {
    color:#ddd !important;
}
.repeated-input {
    font-family:'Courier New', Courier, monospace;
    min-width: 40px;
    padding:0px;
    max-width:250px;
    overflow-wrap: break-word;
}

.read-only .dropdown-input, .read-only .input-block{
    background-color:#555;
    border-color:#444;
    pointer-events:none;
    color: #ddd;
}

.read-only .selected-value {
    background-color: #666;
}