.taskInput {
    padding: 5px 0 3px;
}

.task-popup-button { 
    z-index: 40;
    border: 1px solid white;
    color: white;
    float:right;
    margin-right: 10px;
    margin-top: 5px;
    padding: 4px 8px !important;
}

.openPop {
    z-index: 900 !important;
}

.dialog {
    width: 700px;
}
