.taskInput {
    padding: 5px 0 3px;
}

.task-popup-button { 
    z-index: 40;
    position: absolute;
    right: 250px;
    top: 164px;
    border: 1px solid white;
    color: white;
}

.openPop {
    visibility: visible;
    z-index: 900 !important;
}

.closePop {
    visibility: hidden !important;
    z-index: 0 !important;

}

.dialog {
    width: 700px;
}
