.boolButton{
    height:20px;
    border: 2px solid black;
    margin-right:5px;
}

.read-only .boolButton{
    background-color:#AAA;
    border-color:#444;
    pointer-events:none;
}

.read-only .selected {
    background-color: #444;
}